In [1]:
import pandas as pd

In [2]:
file_song='/Users/jonathanrocha/Desktop/lib/top10s.csv'
file_song

'/Users/jonathanrocha/Desktop/lib/top10s.csv'

In [3]:
song_df=pd.read_csv(file_song,encoding="ISO-8859-1")

In [4]:
song_df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [5]:
song_df['year'].describe()

count     603.000000
mean     2014.592040
std         2.607057
min      2010.000000
25%      2013.000000
50%      2015.000000
75%      2017.000000
max      2019.000000
Name: year, dtype: float64

In [6]:
song_df.isna().sum()

Unnamed: 0    0
title         0
artist        0
top genre     0
year          0
bpm           0
nrgy          0
dnce          0
dB            0
live          0
val           0
dur           0
acous         0
spch          0
pop           0
dtype: int64

In [7]:
song_df['artist'].count()

603

In [8]:
song_df.dtypes

Unnamed: 0     int64
title         object
artist        object
top genre     object
year           int64
bpm            int64
nrgy           int64
dnce           int64
dB             int64
live           int64
val            int64
dur            int64
acous          int64
spch           int64
pop            int64
dtype: object

In [9]:
song_df['top genre'].value_counts()

dance pop                    327
pop                           60
canadian pop                  34
barbadian pop                 15
boy band                      15
electropop                    13
british soul                  11
big room                      10
neo mellow                     9
canadian contemporary r&b      9
art pop                        8
australian dance               6
complextro                     6
hip pop                        6
australian pop                 5
atl hip hop                    5
edm                            5
latin                          4
permanent wave                 4
hip hop                        4
colombian pop                  3
tropical house                 3
indie pop                      2
belgian edm                    2
canadian hip hop               2
folk-pop                       2
detroit hip hop                2
escape room                    2
downtempo                      2
acoustic pop                   2
electro                        2
electronic trap                2
candy pop                      2
baroque pop                    2
brostep                        2
alternative r&b                1
alaska indie                   1
hollywood                      1
danish pop                     1
chicago rap                    1
contemporary country           1
australian hip hop             1
irish singer-songwriter        1
metropopolis                   1
moroccan pop                   1
celtic rock                    1
french indie pop               1
canadian latin                 1
house                          1
electro house                  1
Name: top genre, dtype: int64

In [10]:
x=song_df.loc[song_df['top genre']=='australian hip hop']
x

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
230,231,Fancy,Iggy Azalea,australian hip hop,2014,95,72,91,-4,5,38,200,9,7,70